<mat-toolbar
  >Address Book
  <button mat-icon-button class="edit-filters-btn">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button class="change-sorting-btn">
    <mat-icon>sort</mat-icon>
  </button>
  <button mat-icon-button class="add-address-btn">
    <mat-icon>add</mat-icon>
  </button>
  <button
    mat-icon-button
    class="refresh-addresses-btn"
    (click)="refreshButtonClick($event)"
  >
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>
<div class="container">
  <app-loading-waiter
    *ngIf="isLoading"
    class="addresses-loading-waiter"
  ></app-loading-waiter>
  <div
    *ngIf="!isLoading && data"
    class="main-content"
    (scroll)="onScroll($event)"
  >
    <app-address-summary
      *ngFor="let address of data"
      [data]="address"
      (deleteClicked)="deleteClicked($event)"
      (editClicked)="editClicked($event)"
    >
    </app-address-summary>
  </div>
  <app-loading-waiter
    *ngIf="isLoadingMore"
    class="addresses-loading-waiter"
  ></app-loading-waiter>
  <div *ngIf="!isLoading && !data" class="error-content">
    <h6 class="error-caption">{{ apiError.status }}</h6>
    <span class="error-message">{{ apiError.statusText }}</span>
  </div>
</div>
