<div class="modal-dialog">
  <h2 mat-dialog-title>{{ (isEdit ? "Edit" : "Add") + " Address" }}</h2>
  <div mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="onSave()" class="app-form">
      <mat-form-field appearance="fill" class="app-form-field grid-row-1">
        <mat-label>First Name</mat-label>
        <input matInput required formControlName="firstName" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="app-form-field grid-row-2">
        <mat-label>Middle Name</mat-label>
        <input matInput formControlName="middleName" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="app-form-field grid-row-3">
        <mat-label>Last Name</mat-label>
        <input matInput required formControlName="lastName" />
      </mat-form-field>
      <app-free-text-or-lookup
        class="grid-row-4"
        caption="Country"
        lookupApiUrl="{{ 'countries' }}"
        [lookupIsActive]="true"
        [isRequired]="true"
        labelMemberName="name"
        idMemberName="code"
        (currentChanged)="countryChanged($event)"
      ></app-free-text-or-lookup>
      <app-free-text-or-lookup
        class="grid-row-5"
        caption="County / State"
        lookupApiUrl="{{ 'counties/' + country.id }}"
        [lookupIsActive]="countyLookupIsEnabled"
        [isRequired]="true"
        labelMemberName="name"
        idMemberName="id"
        (currentChanged)="countyChanged($event)"
      ></app-free-text-or-lookup>
    </form>
  </div>
  <div mat-dialog-actions class="dialog-actions">
    <button
      mat-raised-button
      color="primary"
      class="save-btn"
      (click)="onSave()"
    >
      Save
    </button>
    <button
      mat-icon-button
      color="primary"
      class="close-btn outlined-icon-button"
      (click)="onClose()"
    >
      <mat-icon>close</mat-icon>
    </button>
    <button
      *ngIf="isEdit"
      mat-icon-button
      color="accent"
      class="delete-btn outlined-icon-button"
      (click)="onDelete()"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
