<mat-card class="{{ data.hasPendingApiCall ? 'has-pending-api-call' : '' }}">
  <button mat-icon-button class="edit-btn" [disabled]="data.hasPendingApiCall">
    <mat-icon>edit</mat-icon>
  </button>
  <button
    mat-icon-button
    class="delete-btn"
    [disabled]="data.hasPendingApiCall"
  >
    <mat-icon>delete</mat-icon>
  </button>
  <mat-card-header>
    <mat-card-title
      ><h5>{{ data.fullName }}</h5></mat-card-title
    >
    <mat-card-subtitle>{{ data.lastModifiedOrCreatedStr }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <span class="city-name"> {{ data.cityName }}, </span>
    <span class="county-name"> {{ data.countyName }}, </span>
    <span class="country-name"> {{ data.countryName }} </span>
  </mat-card-content>
</mat-card>
